  .footercolor{
    color: #A3AED0;
  }

 .spacer {
        height: 150px;
     }

      
  .forgotPassword {
    color: #3311DB !important;
  }
  .signInButton {
    background-color: #3311DB !important;
    color:white !important;
    transition: background-color 0.3s !important;
    
  }
  .signInButton:hover {
    background-color: #2200aa !important; 
    color: white !important;
  }
  .fontsizesign{
    font-size: 36px;
    font-weight: 600;
  }
  .fontlabel{
    font-size: 13px;
    font-weight: 500;
  }
  .image{
    background-image: url(../../assets/images/logo.jpg);
    background-position: center;
    background-size: cover;
    border-bottom-left-radius:  20%;
  }
  .links{
    
    margin-left: 150px;
    margin-bottom: 10px;
    padding-left: 0;
  }
  .darkmode{
    bottom: 20px;
    right:20px ;
    z-index:  1050;
    width:60px;
    height:60px;
    font-size:16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,#6D61FF,#323FFF);
  }
  