.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.tableWrapper {
  flex: 1;
  min-width: 300px;
  background-color: rgb(255 255 255 );
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.table {
  width: 100%;
  border-collapse: collapse;
}



.table th,
.table td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.table th {
  font-weight: 600;
  color: rgb(163 174 208);
}



.icons span {
  margin-right: 8px;
  font-size: 18px;
  color: rgb(163 174 208);
}

tbody td{
  font-weight: 700;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.tableWrapper {
  flex: 1;
  min-width: 300px;
  
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 400px;
}

.table th,
.table td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.table th {
  font-weight: 600;
  font-size: 14px;
  color: rgb(163 174 208);
}

.icons span {
  margin-right: 8px;
  font-size: 18px;
  color: rgb(163 174 208);
}