@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:wght@100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

.Line,
.StackedBarChart,
.Chart,
.SimpleBarChart,
.TaskList,
.BasicDateCalendar {
  background-color: #fff;
  border-radius: 1rem;
}
