@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:wght@100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

.Line,
.StackedBarChart,
.Chart,
.SimpleBarChart,
.TaskList,
.BasicDateCalendar,
.CheckboxTable,
.earnings-card {
  background-color: var(--container);
  color: var(--text);
  border-radius: 1rem;
}

.MainDashboard,
.NFTMarketplace,
.Profile,
.DataTables {
  background-color: var(--body-bg);
}

:root {
  --body-bg: #f8f9fa;
  --container: #fff;
  --text: #111;
  --secondery-text: #a3aed0;
  --icon: #422afb;
  --icon-container: #f4f7fe;
  --checkbox: #422afb;
  --Notification: #ffffff;
}

.dark {
  --body-bg: #0b1437;
  --container: #111c44;
  --text: #fff;
  --secondery-text: #a3aed0;
  --icon: #fff;
  --icon-container: #1b254b;
  --checkbox: #7551ff;
  --Notification: #1b254b;
}
